<!--過濾器
safe > 在不轉義的情況下轉譯值
capitalize > 值惖第一個字元大寫, 其他字元小寫
lower > 將值改為小寫
upper > 將值改為大寫
title > 值的每一個單字的第一個字母大寫
trim > 移除值的前面與後面的空白字元
striptags > 在轉譯前移除值的所有HTML標籤
-->

{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block navbar %}
<div class="nabar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Flasky</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        {% if name %}
            <h1>Hello, {{name|title}}!</h1>
            <!--呼叫其他模版 include-->
            {% else %}
            <h1>Hello, All!</h1>
            {% endif %}
    </div>
    {% include 'common.html' %}
</div>
{% endblock %}